# Importando as bibliotecas necessárias

In [1]:
import numpy as np
import pandas as pd
import pickle

# Carregando a base de dados

In [2]:
data = pd.read_csv('Inferencia.csv', ';')
data.head()

,id,sample,SiO2,Al2O3,Fe2O3,MgO,CaO,Na2O,K2O,TiO2,...,Eu,Gd,Tb,Dy,Ho,Er,Tm,Yb,Lu,Type
0,inf_01,CP1,72.00,13.11,2.34,0.42,1.51,2.66,5.98,0.379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,inf_02,CP2,70.16,14.08,3.81,0.67,2.08,2.70,5.67,0.634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,inf_03,CP3,71.43,13.68,3.15,0.63,1.93,2.85,5.53,0.604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,inf_04,CP4,70.12,13.48,3.29,0.60,1.89,2.83,5.62,0.602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,inf_05,CP5,71.33,13.80,2.56,0.43,1.50,2.92,5.40,0.356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Importante!

Para realizar a inferência não faremos tratamento de missing values. As colunas que contém missing values serão descartadas. Por isso, o modelo selecionado deve conter todas as variáveis exigidas pelo modelo.

In [3]:
#Removendo colunas com missing values 

def rmissingvaluecol(dff,threshold):
    l = []
    l = list(dff.drop(dff.loc[:,list((100*(dff.isnull().sum()/len(dff.index))>=threshold))].columns, 1).columns.values)
    print("# Columns having more than %s percent missing values:"%threshold,(dff.shape[1] - len(l)))
    print("Columns:\n",list(set(list((dff.columns.values))) - set(l)))
    return l


rmissingvaluecol(data,1)

# Columns having more than 1 percent missing values: 36
Columns:
 ['Th', 'Pr', 'Tb', 'Y', 'Sc', 'Ga', 'Ba', 'Pb', 'Zr', 'Ni', 'Ho', 'Rb', 'Dy', 'Cs', 'Nd', 'La', 'U', 'Cr', 'V', 'Lu', 'Ce', 'Yb', 'Tm', 'Nb', 'Er', 'Ta', 'Zn', 'Sr', 'W', 'Type', 'Gd', 'Co', 'Cu', 'Eu', 'Hf', 'Sm']

['id',
 'sample',
 'SiO2',
 'Al2O3',
 'Fe2O3',
 'MgO',
 'CaO',
 'Na2O',
 'K2O',
 'TiO2',
 'P2O5',
 'MnO',
 'LOI',
 'Total']

In [4]:
l = rmissingvaluecol(data,1)
df = data[l]

# Columns having more than 1 percent missing values: 36
Columns:
 ['Th', 'Pr', 'Tb', 'Y', 'Sc', 'Ga', 'Ba', 'Pb', 'Zr', 'Ni', 'Ho', 'Rb', 'Dy', 'Cs', 'Nd', 'La', 'U', 'Cr', 'V', 'Lu', 'Ce', 'Yb', 'Tm', 'Nb', 'Er', 'Ta', 'Zn', 'Sr', 'W', 'Type', 'Gd', 'Co', 'Cu', 'Eu', 'Hf', 'Sm']

In [5]:
df = df.drop(columns=['id', 'sample', 'LOI', 'Total'])
df.head()

    SiO2  Al2O3  Fe2O3   MgO   CaO  Na2O   K2O   TiO2  P2O5    MnO
0  72.00  13.11   2.34  0.42  1.51  2.66  5.98  0.379  0.13  0.049
1  70.16  14.08   3.81  0.67  2.08  2.70  5.67  0.634  0.20  0.076
2  71.43  13.68   3.15  0.63  1.93  2.85  5.53  0.604  0.19  0.066
3  70.12  13.48   3.29  0.60  1.89  2.83  5.62  0.602  0.19  0.068
4  71.33  13.80   2.56  0.43  1.50  2.92  5.40  0.356  0.07  0.041

### Variáveis necessárias para cada modelo



**Modelo A:** SiO2, Al2O3, Fe2O3, MgO, CaO, Na2O, K2O, TiO2, P2O5 e MnO

**Modelo B:** SiO2, Al2O3, Fe2O3, MgO, CaO, Na2O, K2O, TiO2, P2O5, MnO, Rb, Ba, Sr, Zr, Y e Nb

**Modelo C:** SiO2, Al2O3, Fe2O3, MgO, CaO, Na2O, K2O, TiO2, P2O5, MnO, Rb, Ba, Sr, Zr, Y, Nb e La

# Escolha do modelo a ser aplicado

In [6]:
opcao = str(input('Qual modelo será aplicado? (A, B ou C) ')).strip().upper()

Qual modelo será aplicado? (A, B ou C)  a

In [7]:
if opcao == 'A':
    file = open('model_a', 'rb')
    model = pickle.load(file)
if opcao == 'B':
    file = open('model_b', 'rb')
    model = pickle.load(file)
if opcao == 'C':
    file = open('model_c', 'rb')
    model = pickle.load(file)

# Inferir

In [8]:
# inferir
model.predict(df)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])